.header {

	background: url(../img/destaque.jpeg)no-repeat;
	background-size: cover;
	padding-top: 32px;
}

.header .main-menu {
    text-align: center;
}

.header .main-menu .menu-item {
    display: inline-block;
    margin: 0 2px 32px 0;
}

.header .main-menu .menu-item a {

	color: white;
	padding: 16px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
	transition: background-color 0.5s; 
}

.header .main-menu .menu-item a:hover {
	background-color: #48A3A6;
}

.header .anuncio{
	text-align: center;
}

.header .anunciante {
	color: white;
    text-shadow: 4px 4px 10px black;
}

.header .anuncio .titulo {
	text-transform: uppercase;
	font-size: 2.5em;
	color:#FFFFFF;
	text-shadow: 4px 4px 10px black;
}

.header .anuncio .data {
	text-transform: uppercase;
	font-size:1.5em;
	color: #008000;
	text-shadow: 4px 4px 10px black;

}

.header .anuncio .inscricoes{
	padding: 12px;
	border-radius: 5px;
	background: #ADD8E6;
	transition: background-color 1.0s;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 12px;


}

.header .anuncio .inscricoes:hover {
	background: #48A3A6;
	transition: background 0.5s;
  	color:#00FF00;
}


.header .anuncio .acesso-formulario {

    margin-top: 32px;
}


@media(min-width: 650px) {

    .header .anuncio {

    	font-size: 28px;
    }
}    
